* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  height: 400px;
  background-image: url(../../html-img/img-7/mv.jpg);
  background-size: cover;
  background-position: bottom center;
}

.main-visual-text {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: gray;
}

.bigbox {
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.box {
  width: 840px;
  padding: 30px 30px;
  border-bottom: solid 1px;
  border-color: #d1d1d1;
}














